@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.breadcrumbs {
  & ul {
    display: flex;
    align-items: stretch;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  & li {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 10px;
      background: url(./arrowRight.svg) center center no-repeat;
    }
  }

  & .link {
    color: $darkblue;

    &:first-child {
      margin-left: 18px;
    }
  }

  & .delimeter {
    width: 16px;
    height: 16px;
    background: url(./arrowRight.svg) center center no-repeat;
  }
}
